nav {
  position: relative;
  z-index: 2;
}

.row {
  display: flex;
  align-self: center;
  justify-content: center;
}

.bracket {
  font-size: 4.2rem;
  line-height: 110%;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}

.numArr {
  display: flex;
  align-self: center;
  justify-content: center;
}

.filterOutputArr {
  display: flex;
  align-self: flex-start;
  justify-content: start;
}

.overlay {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 0;
}

@keyframes backForth {
  0% {
    margin-left: -20px;
    /* font-size: 20px; */
  }
  20% {
    margin-left: 20px;
    /* font-size: 10px; */
  }
  40% {
    margin-left: -10px;
    /* font-size: 30px; */
  }
  60% {
    margin-left: 10px;
    /* font-size: 30px; */
  }
  100% {
    margin-left: 0px;
    /* font-size: 5px; */
  }
}

@keyframes upAndDown {
  0% {
    margin-top: -20px;
    /* font-size: 20px; */
  }
  20% {
    margin-top: 20px;
    /* font-size: 10px; */
  }
  40% {
    margin-top: -10px;
    /* font-size: 30px; */
  }
  60% {
    margin-top: 10px;
    /* font-size: 30px; */
  }
  100% {
    margin-top: 0px;
    /* font-size: 5px; */
  }
}

.inputArrayAnim {
  width: 100%;
  height: 100%;
  animation-name: backForth;
  animation-duration: 1s;
}

.callBackAnimate {
  width: 100%;
  height: 100%;
  animation-name: backForth;
  animation-duration: 1s;
}

.trashCanAnimate {
  width: 100%;
  height: 100%;
  animation-name: upAndDown;
  animation-duration: 1s;
}

.outputAnimate {
  width: 100%;
  height: 100%;
  animation-name: backForth;
  animation-duration: 1s;
}

@keyframes onInit {
  0% {
    border: 2px solid blueviolet;
    padding: 1px;
    border-radius: 1px;
  }
  50% {
    border: 5px solid purple;
    border-radius: 8px;
    padding: 5px;
  }

  100% {
    border: 2px solid blueviolet;
    padding: 3px;
    border-radius: 1px;
  }
}

.showAllButtons {
  width: 100%;
  height: 100%;
  animation-name: onInit;
  animation-duration: 2s;
}

.tolowercase {
  text-transform: lowercase;
}

.explainList li {
  margin: 4px;
}

form {
  position: relative;
  /* z-index: 10; */
}

.buttonul li {
  margin: 4px;
}

@keyframes stepperglow {
  50% {
    box-shadow: 1px 1px 2px teal, -1px -1px 2px teal, 1px -1px 2px teal,
      -1px 1px 2px teal;
  }
}

.stepper {
  animation-name: stepperglow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.segment {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.tutorial {
  position: absolute;
  padding: 5px;
  margin-left: 65em;
  margin-top: 16em;
  z-index: 2;
  /* border: 2px solid black; */
  background-color: blanchedalmond;
}
