.row {
  display: flex;
  align-self: center;
  justify-content: center;
}

.bracket {
  font-size: 4.2rem;
  line-height: 110%;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}

.numArr {
  display: flex;
  align-self: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

@keyframes backForth {
  0% {
    margin-left: -20px;
    /* font-size: 20px; */
  }
  20% {
    margin-left: 20px;
    /* font-size: 10px; */
  }
  40% {
    margin-left: -10px;
    /* font-size: 30px; */
  }
  60% {
    margin-left: 10px;
    /* font-size: 30px; */
  }
  100% {
    margin-left: 0px;
    /* font-size: 5px; */
  }
}

.inputArrayAnim {
  width: 100%;
  height: 100%;
  animation-name: backForth;
  animation-duration: 1s;
}

.callBackAnimate {
  width: 100%;
  height: 100%;
  animation-name: backForth;
  animation-duration: 1s;
}

.outputAnimate {
  width: 100%;
  height: 100%;
  animation-name: backForth;
  animation-duration: 1s;
}

@keyframes onInit {
  0% {
    border: 2px solid blueviolet;
    padding: 1px;
    border-radius: 1px;
  }
  50% {
    border: 5px solid purple;
    border-radius: 8px;
    padding: 5px;
  }

  100% {
    border: 2px solid blueviolet;
    padding: 3px;
    border-radius: 1px;
  }
}

.showAllButtons {
  width: 100%;
  height: 100%;
  animation-name: onInit;
  animation-duration: 2s;
}

.tolowercase {
  text-transform: lowercase;
}

.explainList li {
  margin: 4px;
}

form {
  position: relative;
  /* z-index: 10; */
}
